-content_for :head do
  =stylesheet_link_tag 'articles/show.css', :media => 'screen'
.container
.article
  .title_bar
    %h1=@article.name
  .a_content
    %p
      =simple_format @article.content
  .actions_bar  
    %span.a_date= "#{time_ago_in_words(@article.created_at)}前" 
    .actions
      = link_to '编辑', edit_story_article_path(@story, @article)
