/* line 4, ../../app/stylesheets/application.sass */
body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}
/* line 7, ../../app/stylesheets/application.sass */
body h1 {
  font-size: 22px;
}
/* line 10, ../../app/stylesheets/application.sass */
body a {
  color: #277098;
  font-size: 11px;
  text-decoration: none;
  padding: 2px;
}
/* line 16, ../../app/stylesheets/application.sass */
body a:hover {
  background-color: #277098;
  color: white;
}
/* line 20, ../../app/stylesheets/application.sass */
body #header {
  width: 100%;
  height: 40px;
  background-color: #f0eee2;
}
/* line 25, ../../app/stylesheets/application.sass */
body #header .content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 28, ../../app/stylesheets/application.sass */
body #header .content .logo {
  float: left;
}
/* line 30, ../../app/stylesheets/application.sass */
body #header .content .logo .title {
  color: #665d3c;
  line-height: 40px;
  font-size: 24px;
}
/* line 34, ../../app/stylesheets/application.sass */
body #header .content .logo .desc {
  color: #999999;
  font-size: 11px;
}
/* line 40, ../../app/stylesheets/application.sass */
body #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin-top: 20px;
}
/* line 44, ../../app/stylesheets/application.sass */
body #container .container {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180@3.0.7/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container .container {
  overflow-x: hidden;
}
